This is a test file to try replacement of environment variables.

lorem ipsem

lorem ipsem
${REPLACE_ME}
${DO_NOT_REPLACE_ME}

lorem ipsem


example usage:
% export  REPLACE_ME="I AM THE REPLACEMENT TEXT" VAR2="MEANINGLESS, no impact test.conf"
% envsubst '${REPLACE_ME} ${VAR3}' < test.conf.template > test.conf
